.hot {
	color: #211356;
	background-image: "/Users/taekim/Downloads/Untitled112-1.jpg"
}

h1 {
	color: #3f0013;
}


#button {
  border-radius: 0;
}

.infopage{
	background-image: "/Users/taekim/Downloads/Untitled112-1.jpg" ;
	width: auto;
	height:auto;
}

.features{
	text-align: center;
}
#meals{
	background-image:"/Users/taekim/Downloads/Untitled112-1.jpg";
}
#snacks{
	background-image:"/Users/taekim/Downloads/Untitled112-1.jpg";
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

#drinks {
	background-image: "/Users/taekim/Downloads/20181108_214627.png";
}